


  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #ffffff;
    background: black;
  }
  nav.navbar{
    background: black !important;
  }

  .navbar-brand:hover{
    color: rgb(0, 162, 255) !important;
  }
 
 .carousel {
    margin-bottom: 4rem;
  }
 .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .carousel-item {
    height: 32rem;
  }

  .card{
    background: black;
  }

  

  .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  

  .featurette-divider {
    margin: 2rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }


  /* RESPONSIVE CSS
-------------------------------------------------- */

  @media (min-width: 40em) {

    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
